content {
    display: block;
    position: relative;
    float: right;
    width: 650px;
    border-radius: 4px;
    background-color:  #eff3f7;
    margin-top: 25px;
    margin-right: -25px;
    font-family: fira_sansregular;
}

content_title {
    display: block;
    height: 68px;
    width: 100%;
}

.content_title {
    display: inline-block;
    color:  #3ba8c0;
    font-size: 27px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 30px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    height: 68px;
    padding: 19px;
    border-bottom: 2px solid #3ba8c0;
    float: left;
}

infa {
    display: block;
    margin: 15px 22px;
    float: left;
    width: 100%;
}

infa>.photo {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    border: 5px solid #3ba8c0;
}

infa>.title_bold {
    display: inline-block;
    color:  #4a545d;
    font-size: 17px; /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: left;
    margin: 3px 15px 13px 38px;
}

infa>.text {
    display: inline-block;
    color:  #37424d;
    font-size: 15px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
}

infa>.work {
    display: block;
    float: left;
    margin: 19px 43px 5px;
    padding: 0px;
    min-width: 400px; 
}

infa>.work>.work_img {
    float: left;
    margin-right: 30px;
    margin-bottom: 11px;
}
infa>.work>.course {
    margin: 0px 35px 5px 10px;
}

infa>.work>.work_place {
    color:  #4a545d;
    font-size: 17px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
    padding: 0px;
}

infa>.work>.work_time {
    color:  #4a545d;
    font-size: 15px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
}

.navyk {
    display: inline-block;
    border-radius: 2px;
    background: -webkit-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
    background: -moz-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
    background: -o-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
    background: -ms-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
    background: linear-gradient(0deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
    height: 19px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px;
    margin: 5px;
}

.group_navyk {
    display: inline;
    width: 240px;
    float: right;
    margin: 0px 4px 0 0;;
}

infa>work {
    display: inline-block;
    margin: 19px 30px 20px -2px;
    vertical-align: top;
    width: 181px;
}

infa>work>.works, infa>work>.view>.works {
    display: block;
    border-radius: 4px;
    width: 181px;
    height: 127px;
    /*border: 2px solid #3ba8c0;*/
    margin-bottom: 8px;
}

infa>work a {
    color:  #3ba8c0;
    font-size: 13px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    font-style: italic;
    display: block;
    text-align: center;
}

infa>work p {
    display: block;
    text-align: center;
}

.add_project {
    border: 1px dashed #3ba8c0;
    background-color:  rgba(236, 251, 255, 0.64);
    width: 182px;
    height: 127px;
    padding-top: 35px;
}

.add_project img {
    margin-bottom: 10px;
}

.add_project a {
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}

.link_add a:hover {
    text-decoration: none;
}

/*hover effect*/
.second-effect .mask {
    opacity: 0;
    overflow:visible;
    border:0px solid rgba(65, 185, 212,0.7);
    box-sizing:border-box;
    transition: all 0.4s ease-in-out;
}

.second-effect a.info {
    position:relative;
    top:-50px;
    left: -50px;
    opacity:0;
    transform:scale(0,0);
    transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}

.second-effect:hover .mask {
    opacity: 1;
    border:100px solid rgba(65, 185, 212,0.7);
    cursor: pointer;
}

.mask a {
    color: #ffffff;
    display: block;
    border: 2.5px solid #eff3f7;
    border-radius: 4px;
    width: 86px;
    height: 19px;
}

.mask a:hover {
    text-decoration: none;
}

.second-effect:hover a.info {
    opacity:1;
    transform:scale(1,1);
    transition-delay:0.3s;
}

.view {
    width: 181px;
    height: 127px;
    float: left;
    border-radius: 4px;
    border: 2px solid #3ba8c0;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 5px #aaa;
    cursor: default;
    margin-bottom: 8px;
}
.view .mask, .view .content {
    width: 181px;
    height: 127px;
    position: absolute;
    /*overflow: hidden;*/
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative;
}
/*.view a.info {
    background:url(/img/vk.png) center no-repeat;
    display: inline-block;
    text-decoration: none;
    padding:0;
    text-indent:-9999px;
    width:20px;
    height:20px;
}*/


.top_contacts {
    display: block;
    background-color:  #48cbe8;
    border-radius: 4px 4px 0 0;
    width: 650px;
    height: 138px;
    border-bottom: 17px solid #67dffa;
    color:  #ffffff;
    font-size: 27px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-height: 15px;
}

.top_contacts>span {
    display: inline-block;
    margin: 43px 0 0 58px;
}

form_contact {
    display: block;
    position: relative;
    width: 400px;
    margin: 43px auto;

}

form_contact>form>label {
    color: #959aa8;
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 12px;
}

.l_one {
    margin-right: 12px;
}

form_contact>form>label>input {
    color:  #48cbe8;
    font-size: 13px;
    border: 1px solid #48cbe8;
    background-color: #ffffff;
    width: 192px;
    height: 41px;
    border-radius: 4px;
    padding: 5px;      
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #48cbe8;}
input:-moz-placeholder, textarea:-moz-placeholder {color: #48cbe8;}

form_contact>form>label>.message {
    border-radius: 4px;
    border: 1px solid #48cbe8;
    background-color:  #fbfcfd;
    width: 400px;
    height: 181px;
    color:  #48cbe8;
    font-size: 13px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    padding: 10px;
}

.capcha {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #48cbe8;
    background-color:  #fbfcfd;
    width: 189px;
    height: 77px;
}

.input-capcha {
    display: inline-block;
    height: 32px;
    margin-left: 14px;
    vertical-align: top;
    margin-top: 20px;
    padding: 7px 8px 0px;
}

.l_for {
    margin-top: -5px;
    font-size: 17px;
}

.button_submit, .button_clear, .button_addpr {
    margin-top: 16px;
    display: inline-block;
    border-radius: 5px;
    
    width: 139px;
    height: 31px;
    border: 0px;
    color: #fbfcfd;
    font-size: 19px;
}

.button_submit, .button_addpr {
    background-color:  #48cbe8;
    border-bottom: 2px solid #3ba8c0;
}

.button_clear {
    background-color:  #849db5;
    float: right;
    border-bottom: 2px solid #687b8f;
}

.button_addpr {
    display: block;
    margin: 0 auto;
}

.modal-body {
    background-color: #eff3f7;
}

.modal_addpr {
    width: 362px;
    border-radius: 4px 4px 0 0;
    left: 2%;
}

.modal_add_head {
    background-color: #48cbe8;
    border-bottom: 9px solid #67dffa;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    height: 50px;
    border-radius: 4px 4px 0 0;
}

.modal_add_head>h3, .modal_add_head>.close {
    margin-top: -7px;
}

.modal-body>form>label {
    color: #959aa8;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-left: 7px;
}

.modal-body>form>label>input, input[type=file] {
    color:  #48cbe8;
    font-size: 13px;
    border: 1px solid #48cbe8;
    background-color: #ffffff;
    width: 318px;
    height: 39px;
    border-radius: 4px;
    padding: 5px;      
}

.modal-body>form>label>.opisanie {
    border-radius: 4px;
    border: 1px solid #48cbe8;
    background-color:  #fbfcfd;
    width: 318px;
    height: 109px;
    color:  #48cbe8;
    font-size: 13px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    padding: 10px;
}
