#wrapper {
    display: inline-block;
    /*min-height: 100%;*/
    height: auto !important;

    margin: 40px auto;
    width: 960px;

}

.left_panel {
    display: inline-block;
    width: 250px;
}

.right_panel {
    display: inline-block;
    width: 650px;
    margin-right: -25px;
    font-family: fira_sansregular;
    float: right;
}

menu {
    border-radius: 4px;
    background-color:  #eff3f7;
    width: 250px;
    display: block;
    float: left;
    padding: 0px;
    margin: 0px 15px 25px 25px;
}

menu>ul, .contacts>ul{
    padding:0;
    margin:0;    
}

menu>ul>li {
    list-style-type: none;
    display: block;
    height: 71px;
    padding-top: 23px;
    padding-bottom: 48px;
}

.line_1 {
    border-bottom: none;
}

menu a {
    color:  #959aa8;
    font-family: fira_sansregular;    
    font-size: 21px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    display: block;
    width: 230px;
    height: 50px;
    padding-left: 18px;
    margin: 0 auto;
    border-bottom: 2px solid #3ba8c0;
}

menu a:hover {
    text-decoration: none;
    color: #3ba8c0;
}

.contacts {
    border-radius: 4px;
    background-color:  #3ba8c0;
    width: 250px;
    display: block;
    float: left;
    padding: 0px;
    margin: 0px 15px 0px 25px;
    color: #ffffff;
    font-size: 21px;
}

.contacts>ul>li {
    list-style-type: none;
    display: block;
    height: 40px;
}

.contacts a {
    color:  #ffffff;
    font-family: fira_sansregular;    
    font-size: 17px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    margin-left: 22px;
}

.contacts a:hover {
    text-decoration-line: underline;
    color: #ffffff;
}

.contacts h4 {
    padding-left: 20px;
    padding-top: 1px;
    font-size: 21px;
}

.contacts>ul>li.mail {
    background: #41b9d4;
    height: 39px;
    padding-top: 2px;
}

.contacts>ul>li.mail a {
    font-size: 16px;
}

.contacts>ul>li.tel {
    background: #48cbe8;
    height: 39px;
}

.contacts>ul>li.skype {
    background: #51daf8;
    height: 37px;
}

.contacts>ul>li>img {
    margin: 0 0 -1px 42px;
}

.active {
    background-color: #3ba8c0;
    border-radius: 2px;
}

.active a {
    color: #ffffff; 
    border-bottom: none;
}

.active a:hover {
    color: #ffffff;    
    cursor: default;
}