
@font-face {
    font-family: 'fira_sansregular';
    src: url('firasans-regular.eot');
    src: url('firasans-regular.eot?#iefix') format('embedded-opentype'),
         url('firasans-regular.woff') format('woff'),
         url('firasans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
